<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../src/css/styles.css">
    <script defer src="../../../src/js/login-menu.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="min-h-screen w-full">
        <main id="split-container" class="flex h-screen w-full transition-all duration-500 ease-in-out">

            <!-- Izquierda -->
            <article id="modulo-izquierdo"
                class="flex-1 transition-all duration-700 ease-in-out bg-[url(../../../src/img/controlbiologico.jpg)] bg-cover bg-center flex flex-col justify-center items-center hover:brightness-110">
                <h1 class="bg-amber-900 text-white text-4xl p-3 font-bold">CONTROL BIOLÓGICO</h1>
                <a href="#" class="bg-gray-500 text-white font-bold text-2xl px-3 py-2 mt-3">Ingresar</a>
            </article>

            <!-- Derecha -->
            <article id="modulo-derecho"
                class="flex-1 transition-all duration-700 ease-in-out bg-[url(../../../src/img/ecosalud.png)] bg-cover bg-center flex flex-col justify-center items-center hover:brightness-110">
                <h1 class="bg-amber-900 text-white text-4xl p-3 font-bold">ECOSALUD</h1>
                <a href="#" class="bg-gray-500 text-white font-bold text-2xl px-3 py-2 mt-3">Ingresar</a>
            </article>

        </main>
    </div>
</body>

</html>